<% provide(:page, "About") %>

<div class="row">
	<div class="col-xs-12">
		<section id="about" data-type="background" data-speed="10" class="pages">
			<article><h1>Hello! This is About page</h1></article>
		</section>
	</div>
</div>

<% 5.times do %>
<div class="row" style="margin-top: 50px;">
	<div class="col-xs-12">
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod 
		</p>
	</div>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		var $window = $(window); //You forgot this line in the above example

		$('section[data-type="background"]').each(function(){
			var $bgobj = $(this); // assigning the object
			$(window).scroll(function() {
			var yPos = -($window.scrollTop() / $bgobj.data('speed'));
			// Put together our final background position
			var coords = '50% '+ yPos + 'px';
			// Move the background
			$bgobj.css({ backgroundPosition: coords });
			});
		});
	});

</script>