/* Footer */

.footer {
	background: #8CD1FF;
	color: #FAFAFA;
	padding: 10px 0;
	/*border-top: 2px solid #D1D1E0;*/
	position: relative;
    height: 80px;
    clear: both;
}

#copyright {
	color: #FAFAFA;
	text-shadow: 0 1px 0 #ccc;
}