/* Header */

.header {
	background: #fff;
	padding: 10px 20px 10px;
	border-bottom: 1px solid #E8E8E8;
}

.nav-top-menu {
	padding: 10px 0;
	margin: 0;
	li {
		list-style-type: none;
		display: inline;
	}
	a {
		margin-left: 15px;
		color: #666;
		padding: 10px;
		text-decoration: none;
		transition: background 0.4s ease-out;
		-webkit-transition: background 0.4s ease-out;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		&:hover {
			color: #fff;
			background: #B2B2B2;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
	}
}

.dropdown {
	a:hover {
		color: #666;
		background: none;
	}
}

.dropmodify {
	a {
		margin: 5px 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		&:hover {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
}